@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

@import "tailwind-scrollbar-hide/v4"; // this is npm package to hide scrollbar in tailwind
body {
  font-family: "Inter", sans-serif;
}

/* html,
body,
#root {
  height: 100%;
  background: #1f1f1f;
} */

body {
  @apply bg-[#1f1f1f];
}
